*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(53, 52, 52) !important;
}
/* logo start */
.logo{
    height:40px;
    width: 80px;
}
/* logo end */

/* slider icon start */
.icon{
    border-radius: 50% !important;
    border: black solid;
    background-color: rgb(56, 54, 54);
}
/* slider icon end */

/* slider card media screen start */
@media (max-width:768px) {
    .carousel-item .card1{
        width: 40% !important;
    }
    .carousel-item .card4{
        width: 40% !important;
    }
    .carousel-item .card2{
        display: none;
    }
    .carousel-item .card3{
        display: none;
    }
}
@media (max-width:475px) {
    .carousel-item .card1{
        text-align: center;
        width: 100% !important;
        height: 1% !important;
    }
    .carousel-item .card4{
        display: none;
        width: 40% !important;
    }
    .carousel-item .card2{
        display: none;
    }
    .carousel-item .card3{
        display: none;
    }
}
/* slider media screen end */
.img img{
    width: 500px;
    margin: 10px;
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px 90px;
    transition: all 0.1s ease-in;
}
.img img:hover{
    box-shadow: 0 10px 28px #ffff00,0 10px 30px #ff500a;
    transform: scale(1.1);
}
.card:hover{
    box-shadow: 0 10px 28px orangered, 0 10px 20px blueviolet;
    transform: scale(0.9);
}
@media (max-width:1024px) {
    .img img{
        width: 450px;
    }
}
@media (max-width:768px) {
    .img img{
        width: 300px;
    }
}
@media (max-width:575px) {
    .img img{
        width: 300px;
    }
}
.footer{
    max-width: 100%;
    height: 50px !important;
}